{
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": false,
  "trailingComma": "es5",
  "proseWrap": "never",
  "quoteProps": "as-needed",
  "arrowParens": "always",
  "vueIndentScriptAndStyle": true,
  "htmlWhitespaceSensitivity": "ignore",
  "insertPragma": false,
  "requirePragma": false,
  "endOfLine": "auto",
  "rangeStart": 0,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    },
    {
      "files": ["*.less", "*.css"],
      "options": {
        "parser": "vue",
        "singleQuote": false
      }
    }
  ]
}
